*{
    
    margin: 0px;/*para hacer espacios*/
    padding: 0px;/*espacio interno del elemento*/
    box-sizing: border-box;/*espacio en caja*/
}
body{
    font-family: 'Arial',sans-serif;
    background-color: black;
}
header{
    width: 100%;
    color:white;
    background-color: blue;
    text-align: center;
    margin: 0;
    height: 100px;
}