*{
   
    margin: 0px;/*para hacer espacios*/
    padding: 0px;/*espacio interno del elemento*/
    box-sizing: border-box;/*espacio en caja*/
    text-decoration: none;
    
}
body{
    margin-left:  20%;
    font-family:'Arial',sans-serif;
    background-color: black;
    margin-right: 20%;
    
    display: flex;
   
}
header{
    background-color: brown;
    color: white;
    text-align: center;

}
main{
    
  padding: 1em;
  width: 60%;
  background-color: rgb(255, 255, 255);
}
aside{
    height: 100vh;
    width: 40%;
}

.perfil{
    padding: 1em;
    width: 100%;
   
    display: grid;
    place-items: center;
    .foto{
        border: double 10px black;
        box-shadow: 0px 0px 20px 0px black ;
        width: 100px;
        border-radius: 50%;
        margin-top: 1em;
        overflow: hidden;
        display: flex;
        
        
        
    }  
}  

img{
    width: 100%;
    height: 100%;
    object-fit: cover;/*para que no se deforme la imagen */ 
}
.datos{
    text-align: center;
}
.datosPersonales{
    width: 100%;
    height: 150px;
    background-color: rgb(48, 44, 44);
    padding: 2ex;
    display: grid;
    color: white;
    .listaDP{
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        li{
            list-style: none;
        }
    }

}
.redes{
   align-items: center                      ;
    gap: 1em;
    
    padding: 1em;
    color: white;
    
    
    width: 100%;
    background-color: rgb(48, 44, 44);
    padding: 1em;
    
    grid-template-columns: repeat(2,1fr);
}
.educacion{
    color: white    ;
    padding: 2em;
    width: 100%;
    background-color: rgb(48, 44, 44);
}

.contenedorFlexbox{
    flex-direction: row;
   
    display: flex;
    overflow-x: auto ;
    gap: 10px;
    justify-content: flex-end;/*esto es para cuando esta en el eje x*/
    align-items: flex-end;
}
.tarjeta{
    margin: 1em;
    flex-basis: 100%;
    background-color: rgb(48, 44, 44);
    color: white;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 10px 0 black;
    flex: 1 0 100px;
}
.tarjetaTitulo{
    font-size: 1.5em;
    font-weight: bold;
}
.tarjetaContenido{
    font-size: 1em;
    background-color: white;
    color: gray;
    padding: 1em;
    border-radius: 1em;
}
.linea  {
    width: 100%;            
    height: 2px;                
    background-color: black;    
    margin: 1em 0;      
}